.login-page{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.login-signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161D20;
    width: 100%;
    height: 100%;
}

.login-signup-box{
    background-color: #727F84;
    width: 50%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-signup-buttons{
    width: 75%;
    height: fit-content;
    display: flex;
}

.login-button-form, .signup-button-form{
    margin: 0;
    font-size: 4ch;
    padding: 10px 0px;
    flex: 1;
    border-radius: 10px;
    border: 1px solid rgb(103, 103, 103);
}

.login-button-form{
    background-color: #2678F3;
    color: white;
}

.signup-button-form{
    background-color: #727F84;
}

.form-type{
    padding: 20px 0px;
    font-size: 5vh;
    font-weight: bold;
    margin: 0;
}

.login-signup-box input{
    width: 75%;
    border-radius: 10px;
    border: 1px solid rgb(103, 103, 103);
    margin: 0;
    font-size: 3ch;
    padding: 10px 0px;
    background-color: #727F84;
    color: #051014;
}

.forgot-password{
    width: 75%;
    color: #003A92;
    font-size: 2ch;
}

.login-signup-box .login-button-submit{
    background-color: #003A92;
    color: white;
    padding: 20px 0px;
    font-size: 3ch;
}

.signup-now-button{
    background-color: #727F84;
    border: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    color: #003A92;
    transition: font-size 0.2s;
}

.signup-now-button:hover{
    cursor: pointer;
    text-decoration-line: underline;
    font-size: 2ch;
    font-weight: bold;
}

.no-account{
    font-size: 2ch;
}

.login-button-form:hover, .signup-button-form:hover{
    box-shadow: 0px 0px 2px #003A92;
    cursor: pointer;
}