html{
    width: 100%;
    height: 100%;
    margin: 0;
}

.visualization-page{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-container{
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    background-color: black;
}

.visualization-container{
    margin: 2%;
    flex: 1;
    text-align: center;
    /* background-color: red; */
    overflow: auto;
}

.play-button{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #727F84;
    color: black;
    font-weight: 700;
    cursor: pointer;
}