.menu{
    padding-top: 5vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    background-color: #0D191E;
    color: white;
    align-items: center;
    font-size: larger;
}