.login-page{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.login-signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161D20;
    width: 100%;
    height: 100%;
}

.login-signup-box{
    background-color: #727F84;
    width: 50%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-type{
    padding: 2vh 0;
    font-size: clamp(2rem, 2.5vw, 5rem);
    font-weight: bold;
    margin: 0;
}

.login-signup-box .user-input{
    width: 75%;
}

.login-signup-box .user-input input{
    width: 100%;
}

.login-signup-box input{
    width: 75%;
    border-radius: 10px;
    border: 1px solid rgb(103, 103, 103);
    margin: 0;
    font-size: clamp(1.5rem, 1.5vw, 3rem);
    padding: 1.5vh 0;
    background-color: #727F84;
    color: #051014;
}

.login-signup-box input::placeholder{
    color: black;
    opacity: 90%;
}

.forgot-password{
    width: 75%;
    color: #003A92;
    font-size: large;
    margin: 0;
    font-weight: 600;
    transition: font-size 0.2s ease-in;
}

.forgot-password:hover{
    cursor: pointer;
    font-size: larger;
}

.login-signup-box .form-submit{
    background-color: #003A92;
    color: white;
    font-size: clamp(1.5rem, 2vw, 5rem);
    margin: 0;
}

.no-account, .signup-now-button{
    margin: 0;
    text-align: center;
    font-size: clamp(1.2rem, 1vw, 2rem);
}

.signup-now-button{
    background-color: #727F84;
    border: none;
    margin-left: 5px;
    padding: 0;
    color: #003A92;
    transition: font-size 0.15s ease-in-out;
}

.signup-now-button:hover{
    cursor: pointer;
    text-decoration-line: underline;
    font-size: 105%;
    font-weight: bold;
}

.login-button-form:hover, .signup-button-form:hover, .form-submit:hover{
    box-shadow: 0px 0px 2px #003A92;
    cursor: pointer;
}

.login-signup-box .error{
    display: block;
    text-align: left;
    color: white;
    width: fit-content;
    opacity: 80%;
    background-color: black;
    font-size: larger;
    border-bottom: 1px solid red;
    font-size: clamp(0.8rem, 1vw, 2rem);
}

.password-requirements{
    font-size: clamp(1rem, 1vw, 2rem);
    text-align: center;
    width: 80%;
    margin: 0;
    padding: 0.5rem 0px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.requirements{
    margin: 2px 0px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.requirements li{
    margin: 0 5px;
    text-align: left;
}

.invalid-req::before{
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
    color: red;
}

.valid-req::before{
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
    color: green;
}

.valid-req{
    list-style: none;
}

.invalid-req{
    list-style: none;
}

@media (max-width: 800px) {
    .login-signup-box{
        width: 90%;
        height: 90%;
    }
}