.nav-bar{
    padding: 1% 0px;
    display: flex;
    background-color: #051014;
    color: white;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.back-arrow{
    margin-left: 2vw;
}

.back-arrow:hover{
    cursor: pointer;
}

.menu-logo{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-left: 1rem;
}

.menu-button{
    display: flex;
    flex-direction: column;
}

.menu-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2px #ACBDBA;
}

.menu-button div{
    width: 22px;
    margin: 2.5px;
    height: 2px;
    background-color: #ACBDBA;
}

.brand-name{
    font-size: 4ch;
    padding: 0;
    margin: 0;
}

.brand-name:hover{
    cursor: pointer;
    text-shadow: 1px 1px 1px #ACBDBA;
}

.login-button{
    background-color: #ACBDBA;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin-right: 4vw;
}

.login-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #ACBDBA;
}

.login-text{
    margin: 0;
    padding: 0;
    font-size: x-large;
    display: inline;
}

.user-icon{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    height: 1rem;
    width: auto;
}

.logged-in{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.user{
    margin-right: 20px;
    background-color: #003A92;
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.user:hover{
    box-shadow: #024cba 0px 0px 5px;
}

.user p{
    padding: 0;
    margin: 0;
    font-size: larger;
}

.logout-button{
    background-color: #ACBDBA;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.15s ease-in-out;
}

.logout-button:hover{
    scale: 1.05;
}

.logout-text{
    margin: 0;
    padding: 2px 5px;
    font-size: small;
}

@media (max-width: 375px) {
    .brand-name{
        font-size: 2ch;
    }
    .login-text{
        font-size: small;
    }
    .user-icon{
        height: 0.6rem;
    }
    .login-button{
        padding: 0.4rem;
    }
    .menu-logo{
        margin-left: 0.4rem;
        column-gap: 0.8rem;
    }
}