.upload-page{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto; 
    background-color: #161D20;
}

.upload-box{
    display: flex;
    margin: auto;
    width: 60%;
    height: 75%;
    border-radius: 30px;
    background-color: #727F84;
}

.upload-options{
    margin: auto;
    text-align: center;
}

.upload-audio-button{
    display: flex;
    vertical-align: middle;
    width: fit-content;
    height: auto;
    border-radius: 15px;
    background-color: #051014;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
}

.upload-audio-button p{
    margin: 0;
}

.upload-icon{
    margin-left: 10px;
    width: 2.2rem;
    height: auto;
}

.drag-drop-area{
    margin-top: 1em;
}

.drag-drop-area p{
    color: #051014;
    font-size: 2rem;
    margin: 0;
}
